@font-face {
    font-family: acidGrotesk;
    src: url("../../../assets/AcidGrotesk-Regular.otf");
  }

  label, li{
    font-family: acidGrotesk;
  }

  label input::placeholder{
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
  }