@font-face {
    font-family: eSporta;
    src: url("../../assets/Esporta.otf");
}

@font-face {
    font-family: acidGrotesk;
    src: url("../../assets/AcidGrotesk-Regular.otf");
}

.page1{
    background-image:url("../../assets/bg-1.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: acidGrotesk;
}

.page2{
    background-color: #000;
    background-image: url("../../assets/bg-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page2 .box1 .para{
    font-family: acidGrotesk;
}

.page2 .box1 .box2{
    display: flex;
    flex-direction: row;
    font-family: eSporta;
}

.page3{
    background-color: #000;
    background-image: url("../../assets/hookline.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.page4, .page6{
    background-image: url("../../assets/bg-1.png");
}

.page4 .artistHeading h1{
    font-family: eSporta;
    color: wheat;
}

.page5{
    background: #2F2F2F;
}

.page6{
    font-family: acidGrotesk;
}