@font-face {
  font-family: eSporta;
  src: url("../../assets/Esporta.otf");
}

.blue-main{
  font-family: eSporta;
  text-shadow:
  2px 5px black,
  3px 7px #FF00CC;
  color: #00CCFF;
}

.marquee1 {
  color: lightgrey;
  width: 100%;
  overflow: hidden;
}

.marquee__content1 {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling2 30s linear infinite;
}

.marquee__content2 {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling1 30s linear infinite;
}

.marquee__content1 li {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marquee__content2 li {
  width: 20vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marquee__img1 {
  width: 10vw;
  padding: 1rem;
}

@keyframes scrolling1 {
  0% {
    transform: translateX(-0vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes scrolling2 {
  100% {
    transform: translateX(-0vw);
  }
  0% {
    transform: translateX(-100vw);
  }
}


/*TABLET VERSION*/
@media screen and (max-width: 1100px) {
  .marquee__title1 {
    font-size: 2.5rem;
    padding: 0rem;
  }

  .marquee__content1 li {
    width: 25vw;
  }

  .marquee1 {
    width: 95vw;
    margin: 1rem 0;
  }

  .marquee__img1 {
    width: 20vw;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(-0vw);
    }
    100% {
      transform: translateX(-200vw);
    }
  }
}

/*MOBILE VERSION*/
@media screen and (max-width: 430px) {
  .marquee__img1 {
    width: 50vw;
  }

  .marquee__content1 {
    animation: scrolling2 20s linear infinite;
  }

  .marquee__content2 {
    animation: scrolling1 20s linear infinite;
  }

  .marquee__content1 li {
    width: 66%;
  }

  .marquee__content2 li {
    width: 66%;
  }

  .marquee--invisible--mobile1 {
    display: none !important;
  }

  @keyframes scrolling1 {
    0% {
      transform: translateX(-0vw);
    }
    100% {
      transform: translateX(-350vw);
    }
  }

  @keyframes scrolling2 {
    100% {
      transform: translateX(-0vw);
    }
    0% {
      transform: translateX(-350vw);
    }
  }
}
